<!doctype html>
<html ng-app="myLinkApp">
<head>
<title>Pyykkivaraus</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="script.js"></script>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<style>
.container {
	margin: auto;
	width: 75%;
}

.cell {
	width: 30px;
	height: 30px;
	float: left;
}
.reserved{
	background-color: red;
}
.free {
	background-color: green;
}
.selected {
	background-color: blue;
}
.arrow {
	width: 30px;
	height: 30px;

}
table {
	margin: 5px 0px;
}



</style>
</head>

<body ng-controller="MyController">

		<div class="container">
			<h1>Pyykkituvan varaus</h1>	
			<h2>
			{{date.dd}}.{{date.mm}}.{{date.yyyy}}
			</h2>
			<img ng-click="previousDate()" id="arrowleft" class="arrow" src="http://www.niksula.hut.fi/~lsailara/photos/images/arrowleft.png"/>
			<img ng-click="nextDate()"  id="arrowright" class="arrow" src="http://www.niksula.hut.fi/~lsailara/photos/images/arrowright.png"/>

			<table>
				<tr>
					<td ng-repeat="r in data" ng-click="toggleReservation(r)">
						<div ng-if="r.reserved == true" class="reserved cell">{{r.step}} {{r.apartmentNumber}}</div>	
						<div ng-if="r.reserved == false" class="free cell"></div>	
						<div ng-if="r.reserved == 'selected'" class="selected cell"></div>	
					</td>
				</tr>
			</table>
		
			<form>
				<select ng-init="user.step = steps[0]" ng-options="s for s in steps" ng-model="user.step"></select>
				<select ng-init="user.apartment = aApartments[0]" ng-options="a for a in aApartments" ng-if="user.step == 'A'" ng-model="user.apartment"></select>
				<select ng-init="user.apartment = bApartments[0]" ng-options="b for b in bApartments" ng-if="user.step == 'B'" ng-model="user.apartment"></select>
				<input type="submit" ng-click="update(user)" value="Save" />
			</form>
		</div>
	
</body>
</html>